<form class="form-horizontal" name="editUserForm" novalidate id="addUserForm" ng-submit="editUser(user)">
  <div class="form-group row">
    <label for="last-name" class="col-sm-3 col-sm-offset-1 control-label">
      Фамилия:<span class="star">*</span>
    </label>
    <div class="col-sm-5">
      <input id="last-name" type="text" class="form-control" name="lastName" ng-model="user.lastName" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="first-name" class="col-sm-3 col-sm-offset-1 control-label">
      Имя:<span class="star">*</span>
    </label>
    <div class="col-sm-5">
      <input id="first-name" type="text" class="form-control" name="firstName" ng-model="user.firstName" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="middle-name" class="col-sm-3 col-sm-offset-1 control-label">
      Отчество:<span class="star">*</span>
    </label>
    <div class="col-sm-5">
      <input id="middle-name" type="text" class="form-control" name="middleName" ng-model="user.middleName" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="position" class="col-sm-3 col-sm-offset-1 control-label">Должность:</label>
    <div class="col-sm-5">
      <input id="position" type="text" class="form-control" ng-model="user.position">
    </div>
  </div>
  <div class="form-group row">
    <label for="phone" class="col-sm-3 col-sm-offset-1 control-label">Телефон:</label>
    <div class="col-sm-5">
      <input id="phone" type="tel" class="form-control" ng-model="user.phone">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-3 col-sm-offset-1 control-label">E-mail:</label>
    <div class="col-sm-5">
      <input id="email" type="email" class="form-control" ng-model="user.email">
    </div>
  </div>
  <div class="form-group row">
    <label for="pass-email" class="col-sm-3 col-sm-offset-1 control-label">Пароль к почте:</label>
    <div class="col-sm-5">
      <input id="pass-email" type="text" class="form-control" ng-model="user.email_pass">
    </div>
  </div>
  <div class="form-group row">
    <label for="domain-name" class="col-sm-3 col-sm-offset-1 control-label">Пользователь домена:</label>
    <div class="col-sm-5">
      <input id="domain-name" type="text" class="form-control" ng-model="user.domain_name">
    </div>
  </div>
  <div class="form-group row">
    <label for="domain-pass" class="col-sm-3 col-sm-offset-1 control-label">Пароль домена:</label>
    <div class="col-sm-5">
      <input id="domain-pass" type="text" class="form-control" ng-model="user.domain_pass">
    </div>
  </div>
  <div class="form-group row">
    <label for="mac-address" class="col-sm-3 col-sm-offset-1 control-label">MAC-адрес:</label>
    <div class="col-sm-5">
      <input id="mac-address" type="text" class="form-control" ng-model="user.mac_address">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-success center-block" ng-disabled="editUserForm.$invalid">Изменить</button>
    </div>
  </div>
</form>